.box-sizing-content, .box-sizing-border{
    width: 38em;
    border: 1em solid black;
}
  
.box-sizing-content .split{
    box-sizing: content-box;
    width: 50%;
    border: 1em silver ridge;
    float: left;
}
  
.box-sizing-border .split{
    box-sizing: border-box;
    width: 50%;
    border: 1em silver ridge;
    float: left;
}
.clear-both{
  
    clear: both;
}
  